<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>

<body>
	<!-- Fixed navbar -->
	<div th:replace="layout/layout :: navbar"></div>
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a th:href="@{/}">Home</a></li>
			<li class="active">Cursos</li>
		</ol>

		<div class="row">

			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Cursos Disponibles</h1>
				</header>
				<div class="card-deck" th:each=cursos:${cursos}>
					<div class="card">
						<div class="card-body">
							<h2 th:text="${cursos.nombre}"></h2>
							<p th:text="${cursos.descripcion}"></p>
							<p class="card-text"><br>
								<small
									th:text="${'Fecha de Actualizacion: '+cursos.FechaActualizacion}"></small><br>
									<small
									th:text="${cursos.docentes.nombre+' ' +cursos.docentes.apellido}"></small><br>
									<small
									th:text="${'Materia: '+cursos.materias.nombre}"></small><br>
									<form th:action="@{/factura/agregarcarrito/} + ${cursos.id}" method="post" sec:authorize="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')">
                            				<button class="btn btn-primary" th:href="@{/factura/}" type="submit"   th:text="Comprar"></button>
                        			</form><br>
									
									<a sec:authorize="hasRole('ROLE_ADMIN')"  class="btn btn-primary" th:href="@{/editar/} + ${cursos.id}" th:text="'Editar Curso'"></a>
									<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary" th:href="@{/eliminarcurso/} + ${cursos.id}" th:text="'Eliminar Curso'"></a>									
							</p>							
						</div>
					</div>					
				</div>
			</article>
			<!-- /Article -->

			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="widget" sec:authorize="hasRole('ROLE_ADMIN')">
				
					<h4>Reportes</h4>
					<a  href="/reporte/ReporteVentas" class="btn btn-primary">Reporte De ventas </a>	
	
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>
	<!-- /container -->


	<footer th:replace="layout/layout :: footer"></footer>





	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script
		src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>