<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head">
</head>

<body>
	<!-- Fixed navbar -->
	<div th:replace="layout/layout :: navbar"></div>
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a th:href="@{/}">Home</a></li>
			<li class="active">Cursos</li>
		</ol>

		<div class="row">

			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Usuarios </h1>
				</header>
				<div class="card-deck" th:each=usuarios:${usuarios}>
					<div class="card">
						<div class="card-body">
							<p th:text="${usuarios.nombres+' '+usuarios.apellidos}"></p>
							<p th:text="${'DNI :'+usuarios.dni}"></p>
							<p th:text="${'ID :'+usuarios.id}"></p>
							<p class="card-text">
							<p th:text="${'Correo: '+usuarios.email}"></p>
									<a class="btn btn-primary" th:href="@{/editarusuario/} + ${usuarios.id}" th:text="editar"></a>
									<a class="btn btn-primary" th:href="@{/eliminarusuario/} + ${usuarios.id}" th:text="eliminar"></a>									
							</p>							
						</div><br>
					</div>					
				</div>
			</article>
			<!-- /Article -->

			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">
				
				<div class="widget">
					<h4>Reportes</h4>
					<a  href="/reporte/ListadoPaises" class="btn btn-primary">Reporte De ventas </a><hr>
					<a  href="/reporte/Blank_A4" class="btn btn-primary">Reporte Usuarios </a>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>
	<!-- /container -->


	<footer th:replace="layout/layout :: footer"></footer>





	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script
		src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>