<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"></head>

<body>
	<!-- Fixed navbar -->
	<div th:replace="layout/layout :: navbar"></div>
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="index.html">Home</a></li>
			<li class="active">Registro</li>
		</ol>

		<div class="row">

			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Registro</h1>
				</header>

				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Registro de nueva cuenta</h3>
							<p class="text-center text-muted">
								En caso ya tenga una cuenta puede entrar al login
							</p>
							<hr>

							<form th:action="@{/grabar}" th:object="${usuario}" method="post">
								<input type="hidden" th:field="*{id}">
								<div class="top-margin">
									<label>Username</label> <input type="text"
										class="form-control" th:field="*{username}"><span
										class="text-danger" th:if="${#fields.hasErrors('username')}"
										th:errors="*{username}"></span>
								</div>
								<div class="top-margin">
									<label>Nombres</label> <input type="text"
										class="form-control" th:field="*{nombres}"><span
										class="text-danger" th:if="${#fields.hasErrors('nombres')}"
										th:errors="*{nombres}"></span>
								</div>
								<div class="top-margin">
									<label>Apellidos</label> <input type="text"
										class="form-control" th:field="*{apellidos}">
										<span
										class="text-danger" th:if="${#fields.hasErrors('apellidos')}"
										th:errors="*{apellidos}"></span>
										
								</div>
								<div class="top-margin">
									<label>Correo <span class="text-danger">*</span></label> <input
										type="text" class="form-control" th:field="*{email}">
										<span
										class="text-danger" th:if="${#fields.hasErrors('email')}"
										th:errors="*{email}"></span>
								</div>
								<div class="row top-margin">
									<div class="col-sm-6">
										<label>DNI <span class="text-danger">*</span></label> <input
											type="text" class="form-control" th:field="*{dni}">
											<span
										class="text-danger" th:if="${#fields.hasErrors('dni')}"
										th:errors="*{dni}"></span>
									</div>

									<div class="col-sm-6">
										<label>Pais</label> <select th:field="*{paises}"
											class="form-control">
											<option  value="" >Seleccione</option>
											<option th:each="paises:${paises}" th:value="${paises.id}"
												th:text="${paises.nombre}" />
												
										</select>
										<span
										class="text-danger" th:if="${#fields.hasErrors('paises')}"
										th:errors="*{paises}"></span>
									</div>
								</div>

								<div class="row top-margin">
									<div class="col-sm-6">
										<label>Password <span class="text-danger">*</span></label> <input
											type="password" class="form-control" th:field="*{password}"><span
										class="text-danger" th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}"></span>
									</div>
									<div class="col-sm-6">
										<label>Confirm Password <span class="text-danger">*</span></label>
										<input type="password" class="form-control">
									</div>
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-4 text-right">
										<button class="btn btn-action" type="submit">Register</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>

			</article>
			<!-- /Article -->

		</div>
	</div>
	<!-- /container -->


	<footer th:replace="layout/layout :: footer"></footer>





	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script
		src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="assets/js/headroom.min.js"></script>
	<script src="assets/js/jQuery.headroom.min.js"></script>
	<script src="assets/js/template.js"></script>
</body>
</html>